<div [@enterAnimation] id="homepage-wrapper">
  <section id="hero-section" class="col-sm-12 col-md-12 row">
    <div class="col-sm-12 col-md-6">
      <h1 id="hero-title">
        Lions Heart.<br>
        Lorem ipsum
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas scelerisque neque ac aliquet.<br>
        Suspendisse a magna sit amet enim imperdiet posuere in ut lorem.
      </p>
      <div class="col-sm-12 col-md-6" style="text-align: center">
        <button class="btn cta-button">Get Lions Heart</button>
      </div>
      <div class="hero-social col-sm-12 row">
        <div class="col-sm-4 col-md-2 hero-social-below">
          <button class="btn hero-social-btn fourth">
            <fa-icon [icon]="faBrands.faTelegram"></fa-icon>
          </button>
        </div>
        <div class="col-sm-4 col-md-2 hero-social-below">
          <button class="btn hero-social-btn">
            <fa-icon [icon]="faBrands.faTwitter"></fa-icon>
          </button>
        </div>
        <div class="col-sm-4 col-md-2 hero-social-below">
          <button class="btn hero-social-btn">
            <fa-icon [icon]="faBrands.faDiscord"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6" style="text-align: center">
      <img src="./assets/How1_gif.gif" style="width: 100%;" />
    </div>
    <div class="col-sm-12 col-md-12" style="text-align: center;">
      <span style="cursor:pointer;" (click)="scrollToElement(whyLions)">
        <img src="./assets/Arrow-down.svg" style="width: 5%"/>
        <h3 style="color: #D0D0D0">Why Lions Heart?</h3>
      </span>
    </div>
  </section>

  <section id="why-section" class="col-sm-12 col-md-12 row">
    <div id="why-title" class="col-sm-12 col-md-12">
      <h1 class="background-text" #whyLions>ROAR ROAR</h1>
      <h1>Why Lions Heart?</h1>
    </div>
    <div [style.opacity]="scrolled === 1 ? '1' : '0'" id="instant-usage" class="col-sm-12 col-md-12 row why-section" style="margin-top: 8%" [@whyAnimation]>
      <div class="col-sm-12 col-md-6">
        <img src="./assets/why_2.gif" style="width: 100%"/>
      </div>
      <div class="col-sm-12 col-md-6 why-text-content">
        <h2>
          Instant<br> Usage<br> Rewards
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales lectus sed lectus dignissim suscipit. <br>
          Etiam id ex odio. Phasellus consectetur neque justo, quis suscipit dui egestas sed. <br>
          Mauris dignissim posuere finibus.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales lectus sed lectus dignissim suscipit. <br>
          Etiam id ex odio. Phasellus consectetur neque justo, quis suscipit dui egestas sed. <br>
          Mauris dignissim posuere finibus.
        </p>
      </div>
    </div>
    <div [style.opacity]="scrolled === 2 ? '1' : '0'" id="community-powered" class="col-sm-12 col-md-12 row why-section" [@whyAnimation]>
      <div class="col-sm-12 col-md-6">
        <img src="./assets/Big_rocket_still_img.png" style="width: 100%"/>
      </div>
      <div class="col-sm-12 col-md-6 why-text-content">
        <h2>
          Community<br> Powered
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales lectus sed lectus dignissim suscipit. <br>
          Etiam id ex odio. Phasellus consectetur neque justo, quis suscipit dui egestas sed. <br>
          Mauris dignissim posuere finibus.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales lectus sed lectus dignissim suscipit. <br>
          Etiam id ex odio. Phasellus consectetur neque justo, quis suscipit dui egestas sed. <br>
          Mauris dignissim posuere finibus.
        </p>
      </div>
    </div>
    <div [style.opacity]="scrolled === 3 ? '1' : '0'" id="secure-and-safe" class="col-md-12 row why-section" [@whyAnimation]>
      <div class="col-sm-12 col-md-6">
        <img src="./assets/big_rocket_apng.png" style="width: 100%"/>
      </div>
      <div class="col-sm-12 col-md-6 why-text-content">
        <h2>
          Secure & Safe
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales lectus sed lectus dignissim suscipit. <br>
          Etiam id ex odio. Phasellus consectetur neque justo, quis suscipit dui egestas sed. <br>
          Mauris dignissim posuere finibus.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales lectus sed lectus dignissim suscipit. <br>
          Etiam id ex odio. Phasellus consectetur neque justo, quis suscipit dui egestas sed. <br>
          Mauris dignissim posuere finibus.
        </p>
      </div>
    </div>
  </section>

  <section id="how-to-buy-section" class="col-sm-12 col-md-12 row" style="margin: 0">
    <div class="col-sm-12 col-md-12" style="text-align: center; margin-bottom: 30px">
      <h1 class="background-text">KING'S HEART</h1>
      <h1>How to buy?</h1>
    </div>
    <div class="col-sm-12 col-md-12 row" style="margin: 0">
      <div class="col-md-5">
        <img src="./assets/how2_apng.png" style="width: 100%; margin-top: 30%;" />
      </div>
      <div id="steps" class="col-sm-12 col-md-7">
        <div class="col-sm-12 col-md-12 row step" [@slideInOut]="howStepOne">
          <div class="col-sm-12 col-md-2 step-no">
            <h3>01</h3>
          </div>
          <div class="col-sm-12 col-md-10 step-content">
            <h2>Create MetaMask Wallet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales lectus sed lectus dignissim suscipit. <br>
              Etiam id ex odio. Phasellus consectetur neque justo, quis suscipit dui egestas sed. Mauris dignissim posuere finibus.
            </p>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 row step" [@slideInOut]="howStepTwo">
          <div class="col-sm-12 col-md-2 step-no">
            <h3>02</h3>
          </div>
          <div class="col-sm-12 col-md-10 step-content">
            <h2>Send $ETH to MetaMask</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales lectus sed lectus dignissim suscipit. <br>
              Etiam id ex odio. Phasellus consectetur neque justo, quis suscipit dui egestas sed. Mauris dignissim posuere finibus.
            </p>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 row step" [@slideInOut]="howStepThree">
          <div class="col-sm-12 col-md-2 step-no">
            <h3>03</h3>
          </div>
          <div class="col-sm-12 col-md-10 step-content">
            <h2>Visit LIONS Swap</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales lectus sed lectus dignissim suscipit. <br>
              Etiam id ex odio. Phasellus consectetur neque justo, quis suscipit dui egestas sed. Mauris dignissim posuere finibus.
            </p>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 row step" [@slideInOut]="howStepFour">
          <div class="col-sm-12 col-md-2 step-no">
            <h3>04</h3>
          </div>
          <div class="col-sm-12 col-md-10 step-content">
            <h2>Swap $ETH for $LIONS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales lectus sed lectus dignissim suscipit. <br>
              Etiam id ex odio. Phasellus consectetur neque justo, quis suscipit dui egestas sed. Mauris dignissim posuere finibus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="faq-section">
    <div class="col-sm-12 col-md-12" style="text-align: center; margin-bottom: 30px">
      <h1 class="background-text">FAQ</h1>
      <h1>Frequently Asked Questions</h1>
    </div>
    <div class="col-sm-12 col-md-12 row" style="margin: 30px 0 0 0; text-align: center">
      <div class="col-sm-12 col-md-6">
        <div class="col-sm-12 col-md-12 faq-item" [style.max-height]="firstQuestionClicked ? '100%' : '10%'">
          <h3 class="faq-title" (click)="clickQuestion('first')" [@slideTitleAnimation]="firstQuestionClicked">
            What does Lions Heart aim to achieve?
          </h3>
          <p class="faq-content" [@showQuestionAnswer]="firstQuestionClicked">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales lectus sed lectus dignissim suscipit.<br>
            Etiam id ex odio. Phasellus consectetur neque justo, quis suscipit dui egestas sed. Mauris dignissim posuere finibus.<br>
            Proin consectetur cursus iaculis. Duis faucibus ante ex, vitae vehicula sapien lacinia a. Duis non purus tortor.
          </p>
        </div>

        <div class="col-sm-12 col-md-12 faq-item" [style.max-height]="secondQuestionClicked ? '100%' : '10%'">
          <h3 class="faq-title" (click)="clickQuestion('second')" [@slideTitleAnimation]="secondQuestionClicked">
            What does Lions Heart aim to achieve?
          </h3>
          <p class="faq-content" [@showQuestionAnswer]="secondQuestionClicked">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales lectus sed lectus dignissim suscipit.<br>
            Etiam id ex odio. Phasellus consectetur neque justo, quis suscipit dui egestas sed. Mauris dignissim posuere finibus.<br>
            Proin consectetur cursus iaculis. Duis faucibus ante ex, vitae vehicula sapien lacinia a. Duis non purus tortor.
          </p>
        </div>

        <div class="col-sm-12 col-md-12 faq-item" [style.max-height]="thirdQuestionClicked ? '100%' : '10%'">
          <h3 class="faq-title" (click)="clickQuestion('third')" [@slideTitleAnimation]="thirdQuestionClicked">
            What does Lions Heart aim to achieve?
          </h3>
          <p class="faq-content" [@showQuestionAnswer]="thirdQuestionClicked">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales lectus sed lectus dignissim suscipit.<br>
            Etiam id ex odio. Phasellus consectetur neque justo, quis suscipit dui egestas sed. Mauris dignissim posuere finibus.<br>
            Proin consectetur cursus iaculis. Duis faucibus ante ex, vitae vehicula sapien lacinia a. Duis non purus tortor.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <img *ngIf="!faqClicked" class="faq-image" src="./assets/FAQ2_still_img.png" style="width: 100%; margin-top: -10%" [@explodeAnimation]/>
        <img *ngIf="faqClicked" class="faq-image" src="./assets/FAQ1_still_img.png" style="width: 100%; margin-top: -10%" [@explodeAnimation]/>
      </div>
    </div>
  </section>

  <section id="before-footer" class="col-sm-12 col-md-12 row" style="margin: 0">
    <div class="col-md-12" style="text-align: center;">
      <img src="./assets/big_gif_rocket_footer.gif" width="50%" />
    </div>
  </section>
</div>
