#app-footer {
  background-color: #171717;
  padding: 20px 60px;
  text-align: center;
}

.footer-text {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #D0D0D0;
  font-size: 1.2rem;
}

h6 {
  color: #D0D0D0;
  margin-top: 5px;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: #D0D0D0;
}

p {
  color: #D0D0D0;
}

.footer-social {
  text-align: center;
  margin-top: 2%;
}

.footer-social > div {
  text-align: center;
}

.footer-links {
  border-top: solid 0.2px rgba(256, 256, 256, 0.2);
  margin-top: 3%;
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 3%;
  padding-bottom: 2%;
}

.cta-button {
  padding: 18px 32px;
  border-radius: 120px;
  border: 0;
  background-image: linear-gradient(to right, #f5ce62, #e43603, #29323c, #485563);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  color: white;
  font-weight: bold;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.cta-button:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

@media only screen and (min-width: 200px) and (max-width: 820px) {
  .navbar-brand > h2 {
    display: none;
  }

  .navbar-brand > img {
    float: none !important;
    margin: 0 !important;
  }

  .navbar-brand {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}
